<div class="col-md-12 p0 EmployeeReview">
    <div>
        <table class="table table-bordered" >
            <thead class="alert alert-dark" style="text-align:center;">
              <tr >
                <th class="col-md-1">Employee Name</th>
                <th class="col-md-0" >Id</th>
                <th class="col-md-2">Degisignation</th>
                <th class="col-md-2" >Department</th>
                <th class="col-md-1">No of Goals</th>
                <th class="col-md-1">Completed%</th>
                <th class="col-md-1" >9-Grid Score</th>
                <th >Reviwer</th>
                <th class="col-md-2" >Last Promotion Date</th>
                <th >Happiness%</th>
                <th class="col-md-5">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of Employee">
                <td >{{emp.name}}</td>
                <td>{{emp.id}}</td>
                <td>{{emp.degisignation}}</td>
                <td>{{emp.department}}</td>
                <td>{{emp.goals}}</td>
                <td>{{emp.completed}}</td>
                <td>{{emp.score}}</td>
                <td>{{emp.reviwer}}</td>
                <td>{{emp.promotion}}</td>
                <td>{{emp.happiness}}</td>
                <i class="material-icons iconedit" (click)="editGoal()">mode_edit</i>
               <button class="btn btn-primary btnMoment">On The Moment</button>
               <button class="btn btn-primary btnSubmit">Submit</button>
              </tr>
            </tbody>
          </table>
          <app-goal [hidden]="goaldiv"></app-goal>
    </div>
</div>
