th{
    text-align:center;
 }
 table{
     margin-bottom: 0%;
 }
 .btnExpand ,.btnMoment,.btnSubmit{
     background-color: darkblue;
 }
 .btnSubmit{
 margin:3%;

 }
 .btnMoment{
 margin:3%;

 }
 .tblrow{
     border: 0px white;
 }
 label{
 margin-left: 20%;
 }

 .iconedit{
    cursor: pointer;
 }
 
 
 